* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none; /* For Safari */
    -ms-user-select: none; /* For IE 10 and 11 */
}

#gameContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 640px;
    height: 480px;
    overflow: hidden;
    background: #000;
}

#gameContainer > button {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: auto;
    border: none;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: transparent;
}

#gameContainer div, #gameContainer img, #gameContainer span {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

#audiounlock {
    position: fixed;
    top: 0;left: 0;width: 100%;height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;justify-content: center;align-items: center;
    z-index: 9999;cursor: pointer;
    font-size: 3rem;
}
#audiounlock.hidden { display: none; }

@keyframes pauseBgAnim {
    0% { background-position: 0 0; }
    100% { background-position: 0 100%; }
}